<h2>Edit Post</h2>
<form class="edit-post-form">
    <div>
      <input name="edit-post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea name="edit-post-content">{{post.content}}</textarea>
    </div>
    <button class="edit-post btn" type="submit">Save Edits</button>
    <button class="delete-post btn" type="button">Delete post</button>
</form>