


<div class="blog-post">
    <div class="blog-post-header">
        <h3 class="blog-post-title">{{post.title}}</h3>
    </div>
    <div class="blog-post-body">
        <p class="blog-post-content">{{post.content}}</p>
    </div>
    <div class="blog-post-details">
        <p class="blog-post-user">Posted by @{{post.user_id}} on {{post.created_at}}</p>
    </div>
</div>
