<main class="signup">


<section class="signup-scroll">
  <div class="mr marquee">
    <div class="signup-track">
      <p>SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  </p>
    </div>
  </div>
</section>

<section class="signup-block">
  <img class="hello-there graphic" src="/../../assets/graphics/hello-there.png" alt="Pixel art of speech bubble that says Hello There!">
  {{!-- Signup Form --}}
  <form class="form signup-form">
    {{!-- Ask for username --}}
    <div class="form-group">
      <label class="label" for="username-signup">Create Username:</label>
      <br>
      <input class="form-input" type="text" id="username-signup" placeholder="username"/>
      </div>
      {{!-- Ask for user password --}}
    <div class="form-group">
      <label class="label" for="password-signup">Create Password:</label>
      <br>
      <input class="form-input" type="password" id="password-signup" placeholder="password"/>
    </div>
    {{!-- Signup button --}}
    <div class="form-group">
      <button class="btn signup-button" type="submit">Sign Up</button>
    </div>
    <div class="form-group">
      <a class="l-s-cta" href="/login">Need to log in instead?</a>
    </div>
  </form>
</section>

{{!-- <section class="signup-scroll">
  <div class="ml marquee">
    <div class="signup-track">
      <p>SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  SIGNUP  </p>
    </div>
  </div>
</section> --}}

</main>
<script src="./js/signup.js"></script>