/* GLOBAL */
/* button {
    border-radius: 0;
    border: none;
    background-color: transparent;
} */
a {
    text-decoration: none;
}
textarea {
    resize: none;
    width: 100%;
}
button {
    padding: 1em 1.5em;
    cursor: pointer;
    border-radius: 0;
    border: none;
}

/* MAIN */
header {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: thistle;
}
.navguy {
    margin: 0 10px;
}
.main-logo {
    font-family: 'Press Start 2P', monospace;
    font-size: 42px;
    color: limegreen;
    text-align: center;
}

/* HOME PAGE */
.all-posts {
    background-color: wheat;
}
.blog-post {
    border:1px solid green;
    margin: 1em 2em;
}
.post-title {
    background-color: mediumspringgreen;
    font-family: 'Press Start 2P', monospace;
    padding: .8em .5em;
}
.post-details {
    background-color: mediumslateblue;
    display: flex;
    justify-content: space-between;
}

/* SIGN UP PAGE */
.graphic {
    width: 20vw;
}
.signup-block, .login-block {
    margin: 0 auto;
    border: 10px solid limegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    text-align: center;
}
input {
    margin-bottom: 1vw;
}
