/* GLOBAL */
/* button {
    border-radius: 0;
    border: none;
    background-color: transparent;
} */
a {
    text-decoration: none;
}

/* MAIN */
header {
    background-color: teal;
}
nav {
    background-color: thistle;
}
.main-logo {
    font-family: 'Press Start 2P', monospace;
    font-size: 42px;
    color: limegreen;
    text-align: center;
}

/* HOME PAGE */
.all-posts {
    background-color: wheat;
}
.blog-post {
    border:1px solid green;
    margin: 1em 2em;
}
.post-title {
    background-color: mediumspringgreen;
    font-family: 'Press Start 2P', monospace;
    padding: .8em .5em;
}
.post-details {
    background-color: mediumslateblue;
    display: flex;
    justify-content: space-between;
}