/* GLOBAL */
/* button {
    border-radius: 0;
    border: none;
    background-color: transparent;
} */

/* MAIN */
header {
    background-color: teal;
}
nav {
    background-color: thistle;
}
.main-logo {
    font-family: 'Press Start 2P', monospace;
    font-size: 42px;
    color: limegreen;
    text-align: center;
}

/* HOME PAGE */
.all-posts {
    background-color: wheat;
}